<% include header.ejs %>

<h1>Available pages:</h1>
<ul>
    <li><a href="/view/login">Login</a></li>
    <li><a href="/view/test">Public page</a></li>
    <li><a href="/view/users">User restricted page</a></li>
    <li><a href="/view/admin">Admin restricted page</a></li>
</ul>

<% include footer.ejs %>